--- 
title: 'Home' 
layout: 'home' 
---
<div class="mb-1">
  <div class="wrapper">
    <h1 class="align-center mt-0"><i>Entdecken Sie das Aquascapen!</i></h1>
  </div>
  <div class="wrapper">
    <h3 class="align-center"> Lernen Sie hier das fantastische Hobby des Aquascapens kennen und tauchen Sie ein in eine Welt der Unterwasserlandschaften! Auf dieser Seite werden sie allerlei wichtige Dinge finden, welche sie durchaus kurios machen können. Ob jung oder alt, dieses Hobby kann jeden begeistern! Mit ein wenig Fantasie und Platz können sie auch bald in die Faszination Aquascape eintauchen!</h>
  </div>
</div>

<div class="row row-nowrap">
  <div class="col col-4 mb-2">
    {% include card-site.html 
        imgsrc='preview-flowgrow.jpg'
        imgalt='Screenshot von Flowgrow'
        title='Flowgrow'
        description='Alles was ihr über Flora und Fauna wissen müsst!'
        href='https://www.flowgrow.de/'
      %}
  </div>
  <div class="col col-4 mb-2">
    {% include card-site.html 
        imgsrc='preview-garnelio.jpg'
        imgalt='Screenshot von Garnelio'
        title='Garnelio'
        description='Ein Online-Shop für alles rund um Aquarien'
        href='https://www.garnelio.de/'
      %}
  </div>
  <div class="col col-4">
    {% include card-site.html 
        imgsrc='preview-aquariumforum.jpg'
        imgalt='Screenshot vom Aquariumforum'
        title='Aquariumforum'
        description='Das Forum für alle am Aquarium Interessierten!'
        href='https://www.aquariumforum.de/'
      %}
    </div>
  </div>