---
title: 'News'
layout: 'home'
---

<h3 class="mb-2">Wir informieren Sie zu allen aktuellen Entwicklungen in der Aquaristikbranche.</h3>

{% include card-news.html
  title="Neue Blogbeitraege bei Garnelio"
  href="https://www.garnelio.de/blog/krebse/die-krebspest-im-aquarium"%}
{% include card-news.html
  title="Rabatte bei Onlineshops!"
  href="https://www.zooroyal.de/"%}
{% include card-news.html
  title="Wettbewerbssieger Hoyer verkauft Becken bei eBay!"
  href="https://www.pinterest.com/pin/672654894317464378/"%}
{% include card-news.html
  title="Neue Bucephalandren bei Dennerle!"
  href="http://dennerle.com/de/service/pflanzendatenbank"%}