---
title: 'Über uns'
layout: 'home'
---

<h3 class="mb-2">Ein Team von Aquaristikspezialisten arbeitet für Sie!</h3>

<div class="mb-2">
  {% include card-about.html 
      imgsrc='avatar-max-mustermann.jpg'
      imgalt='Max Mustermann'
      title='Max Mustermann'
      age='30'
      aquascapes='120 Liter im holländischen Stil sowie ein 30 Liter NanoCube'
      description='Mich hat das Aquascaping durch eine schwere emotionale Phase in meinem Leben begleitet und seitdem nicht mehr losgelassen.'
      alt='false'
    %}
</div>
<div class="mb-2">
  {% include card-about.html 
      imgsrc='avatar-veronika-mustermann.jpg'
      imgalt='Veronika Mustermann'
      title='Veronika Mustermann'
      age='47'
      aquascapes='60 Liter Iwagumi'
      description='Fasziniert von Aquascapes seit der frühen Kind nach dem Besuch des örtlichen Naturkundemuseums.'
      alt='true'
    %}
</div>
<div>
  {% include card-about.html 
      imgsrc='avatar-martin-mustermann.jpg'
      imgalt='Martin Mustermann'
      title='Martin Mustermann'
      age='35'
      aquascapes='400 Litler Atlas'
      description='In meiner Zahnarztpraxis habe ich voller Vergnügen ein Aquarium installiert. Seitdem kommen alle Patienten mit einem strahlenden Lächeln zu mir in die Praxis, was mir natürlich am Herzen liegt.'
      alt='false'
    %}
</div>
