<div class="card bg-primary text-light card-footer">
  <div class="container container-footer">
    <div class="card-body px-0">
      &#169; 2018 Kevin Pakula. All rights reserved.
    </div>
    <div class="card-actions px-0">
      <!-- <a href="{{ site.baseurl }}/footer/externe-links.html" class="btn">
        <button type="button" class="btn btn-light btn-footer {% if page.url == "/footer/externe-links.html" %}current{% endif %}">Externe Links</button>
      </a> -->
      <a href="{{ site.baseurl }}/footer/kontakt.html" class="btn">
        <button type="button" class="btn btn-light btn-footer {% if page.url == "/footer/kontakt.html" %}current{% endif %}">Kontakt</button>
      </a>
      <a href="{{ site.baseurl }}/footer/anfahrt.html" class="btn">
        <button type="button" class="btn btn-light btn-footer {% if page.url == "/footer/anfahrt.html" %}current{% endif %}">Anfahrt</button>
      </a>
    </div>
  </div>
</div>