---
title: 'Vertreter'
layout: 'home'
---

<h3 class="mb-2">Das Aquascapen begeistert viele, die meisten wegen des Hobbys angezogen jedoch gibt es auch bekannte Menschen welche einen auf die Idee bringen können.</h3>

<div class="row row-nowrap">
  <div class="col col-6 mb-2">
    {% include card-vertreter.html
    imgsrc='post-img-amano.jpg'
    imgalt='Ein Bild von Amano'
    imgsrc2='post-img-amano-aquarium.jpg'
    imgalt2='Ein Bild eines Amano-Beckens'
    title='Takashi Amano'
    description='Takashi Amano war einer der bekanntesten Aquaristen der Welt. Seine Becken haben immer viel Faszination ausgestrahlt und
    sein Einfluss war grösser als der aller anderen bekannten Aquaristen. Bis zu seinem Tod 2015 war er begeistert an dem Hobby
    und hat einem immer neue Möglichenkeiten gezeigt wie eine Landschaft unter Wasser existieren kann. Seine Naturaquarien sind
    immernoch einen Blick wert und seine Implementation von Pflanzen geniesst sich vieler Nachahmer.'
  %}
  </div>
  <div class="col col-6 mb-2">
    {% include card-vertreter.html
    imgsrc='post-image-jurijs.jpg'
    imgalt='Ein Bild von J.Jurujs'
    imgsrc2='post-img-jurijs-aquarium.jpg'
    imgalt2='Ein Bild eines J.Jurijs Aquariums'
    title='J.Jurijs'
    description='Jurijs ist ein bekannter deutscher Aquarist mit gewaltigem Telent. Er ist bekannt dafür sehr aktiv auf Messen zu sein. Seine
      Hilfen und Lehrveranstaltungen haben viele Deutsche zu diesem Hobby bewegt. Seine Aquascapes haben bereits einige Wettbewerbe
      für sich entschieden.'
  %}
  </div>
</div>