<!doctype html>
<html lang="de">

<head>
  <!-- Site title -->
  <title>Aqueuropa | {{ page.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Theme color -->
  <meta name="theme-color" content="#2196f3">

  <!-- Common styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <!-- Layout -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/layout/container.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/layout/grid.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/layout/alignment.css">
  <!-- Content -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/content/img.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/content/typography.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/content/typography.css">
  <!-- Components -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/components/alerts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/components/buttons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/components/card.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/components/nav.css">
  <!-- Utils -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/utils/utils.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/utils/colors.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/utils/spacing.css">
  <!-- Default style -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style/shadows.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style/aquascapestyle.css">
</head>

<body>
  {% include navbar-main.html %}
  <!-- Main container -->
  <div class="container container-main bg-white sdw-a-1">
    {{ content }}
  </div>
  <div class="container-fluid">
    {% include footer-main.html %}
  </div>
</body>

</html>